        <section class="contents top1">

            <p class="top">
            <br>二郎系ラーメンを食べに行き<br><br>おいしそうな美味しそうな写真を投稿し<br><br>共有しよう！<br><br>
            </p>
        </section>
        <section class="contents top2">
            <p class="top">
            <br>
            投稿されたラーメンのコールがわかる！<br><br>このサイトでは投稿のコールがわかるので<br>そのお店に行った時のコールにもう迷いません！<br><br><br>
            </p>
        </section>
        <section class="contents top3">
            <p class="top">
            <br><br>自分に合った量の二郎系ラーメンを注文し<br><br>美味しいジロリアンライフを送ろう！<br><br><br>
            </p>
        </section>

        <div class="top-message col-md-offset-3 col-md-7">
            <div class="btn-wrapper">
                <div class="row touroku">
                    <p>
                    <%= link_to '会員登録はコチラから' ,new_user_registration_path,class: "btn btn-warning col-xs-10 col-xs-offset-1" %>
                    </p>
                    <p>
                    <%= link_to '登録済みの方はコチラから' ,new_user_session_path,class: "btn btn-primary col-xs-10 col-xs-offset-1" %>
                    </p>
                </div>
                <h4>メールアドレスとニックネームとパスワードで簡単登録！</h4>
                <div class="row">
                </div>
            </div>
        </div>
<div class="container footer">
    <div class="row">
       <div class="col-xs-3 col-xs-offset-9">
            
        </div>
    </div>
</div>